[% USE raw %]
[% USE To %]
[% USE Asset %]
[% USE KohaDates %]
[% USE TablesSettings %]
[% USE AuthorisedValues %]
[% SET footerjs = 1 %]
[% PROCESS 'i18n.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% t("AI configuration") | html %]
        &rsaquo; [% t("Administration") | html %] &rsaquo; [% t("Koha") | html %]
    [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("lib/codemirror/codemirror.css") | $raw %]
[% Asset.css("lib/codemirror/lint.css") | $raw %]
</head>

<body id="ai_config" class="ai_config">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'prefs-admin-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    <div id="vue-breadcrumbs-container"></div>
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='admin-menu' %]
    <div id="ai-config"></div>
[% END #/ WRAPPER main-container.inc %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'js-date-format.inc' %]
    [% Asset.js("lib/codemirror/codemirror.min.js") | $raw %]
    [% Asset.js("lib/codemirror/javascript.min.js") | $raw %]
    [% Asset.js("lib/codemirror/lint.min.js") | $raw %]
    [% Asset.js("lib/linters/js-yaml.min.js") | $raw %]
    [% Asset.js("lib/codemirror/yaml.min.js") | $raw %]
    [% Asset.js("lib/codemirror/yaml-lint.min.js") | $raw %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    [% Asset.js("js/vue/dist/admin/ai_config.js") | $raw %]
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
